*{
    font-family: 'Roboto', sans-serif;
    margin: 1;
}

.title{
    border: 10px solid #98d2ef;
}


p {

    padding: 10px;

    border: 10px solid #98d2ef;

}

h1{
    color: white;
    padding: 10px;
    text-align: center;
    border: 10px solid #98d2ef;

}

h2{
    color: white;
    padding: 10px;
    text-align: center;
}

h3{
    color: white;

}

#nav_bar{
    padding-left: 10px;
    padding-bottom: 10px;

}